<div class="jumbotron">
  <h1 class="display-4">Welcome to BrokeNoMore!</h1>
  <p class="lead">BREAK FREE FROM YOUR EXPENSES</p>
  <hr class="my-4">
  <p>BrokeNoMore is a free budget manager.</p>
  <p>We bring together all of your expenses and show you how you can save money for your next project.</p>
  <p class="lead"></p>
</div>
<div class="container-fluid">
<h2>Sign up for BrokeNoMore today</h2><br />
<p>From budgets and bills, you’ll discover the effortless way to be broke no more.</p><br/>
</div>
